/* .container{
    height: 400px;
    width: 800px;
    border:2px solid black;
    display: flex;
    flex-direction:row;
    /* justify-content: center;
    align-items: flex-end;
    justify-content: flex-start; */
    /* justify-content: space-evenly; */
    /* flex: wrap;(ek row me hi ) */
    /* flex-wrap: wrap;
} */
/* .item1{
    height: 80px;
    width: 80px;
    border: 2px solid red;
    margin: 2px;
}
.item2{
    height: 80px;
    width: 80px;
    border: 2px solid rgb(147, 26, 217); 
    margin: 2px;
}
.item3{
    height: 80px;
    width: 80px;
    border: 2px solid rgb(12, 195, 76); 
    margin: 2px;
} */ 

/* flex direction - row
row reverse
column
column reverse


justify content -flex start 
flex end
center
space around
space evenly
space between  */
